SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_ALLOWED_CHANNEL_IDS=
GAS_WEB_APP_URL=
GAS_WEB_APP_SECRET=
GOOGLE_DRIVE_RESTAURANT_ROOT_FOLDER_ID=
MANAGEMENT_SPREADSHEET_ID=15sKleuzRHxjbhOLw8c5b3mzoE_-JpGM1SeYgEvkUUbI
